        .header {
            height: var(--header-height);
            background-image: linear-gradient(0, #f53d2d, #fe6533);
        }
        
        .header__navbar {
            height: var(--navbar-height);
            display: flex;
            justify-content: space-between;
        }
        
        .header__navbar-list {
            display: flex;
            list-style: none;
            /*bo dau cham dang truoc */
            padding-left: 0;
            margin-left: 0px;
        }
        
        .header__navbar-list-item {
            /*xuat hien tren cung mot hang */
            margin: 0 8px;
            position: relative;
            display: inline-block;
            align-items: center;
        }
        
        .header__navbar-list-item,
        .header__navbar-list-item-link {
            display: inline-block;
            font-size: 1.4rem;
            color: var(--white-color);
            text-decoration: none;
            /*bo dau gach chan */
            font-weight: 300;
        }
        
        .header__navbar-list-item--bold {
            font-weight: 400;
        }
        
        .header__navbar-list-item--separate::after {
            content: "";
            display: block;
            position: absolute;
            height: 15px;
            border-left: 1px solid #FB9086;
            right: -10px;
            top: 1px;
        }
        
        .header__navbar-list-item:hover,
        .header__navbar-list-item-link:hover {
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            /* con trỏ chuột hình bàn tay */
        }
        
        .header__navbar-list-item-icon {
            /* website : fontawesome.com để lấy class icon */
            color: var(---white-color);
            text-decoration: none;
            /* bo gach chan */
            margin: 0 4px;
        }
        
        .header__navbar-no-pointer {
            cursor: text;
            color: var(--white-color);
            margin-right: 4px;
        }
        
        .header__navbar-fbis {
            color: var(--white-color);
        }
        /* profile */
        
        .header__navbar-list-user {
            position: relative;
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 2px;
        }
        
        .header__navbar__user-menu::after {
            content: "";
            position: absolute;
            border-width: 19px 29px;
            border-style: solid;
            border-color: transparent transparent var(--white-color) transparent;
            top: -29px;
            right: 41px;
        }
        
        .header__navbar-list-user::before {
            content: "";
            position: absolute;
            display: block;
            width: 82%;
            height: 14px;
            top: 13px;
        }
        
        .header__navbar-list-user:hover .header__navbar__user-menu {
            display: block;
        }
        
        .header__navba__user-avatar {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #e9402b;
            margin-right: 4px;
        }
        
        .header__navbar-user-name {
            font-weight: 400;
            margin-top: 2px;
        }
        
        .header__navbar__user-menu {
            position: absolute;
            padding: 0;
            background-color: var(--white-color);
            top: 27px;
            width: 155px;
            text-align: left;
            border-radius: 2px;
            box-shadow: 0 1px 2px #e0e0e0;
            right: 20%;
            display: none;
            z-index: 1;
            animation: headerNotifyGrowth ease-in 0.15s;
        }
        
        .header__navbar-user-menu-function {
            color: var(--text-color);
            font-size: 1.4rem;
            font-weight: 400;
            list-style: none;
            padding: 11px 11px;
        }
        
        .header__navbar-user-menu-function:hover {
            color: #63c063;
            background-color: #fafafa;
        }
        /* Header QR Code */
        
        .header__qr {
            background-color: var(--white-color);
            width: 186px;
            position: absolute;
            left: 0;
            top: 120%;
            /*vien o goc vuong */
            margin-top: 0.6rem;
            display: none;
            z-index: 1;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
        
        .header__qr::before {
            /* tạo thêm một đường để khi nhần vào Tick ID vẫn hiện QR */
            top: -5%;
            content: "";
            position: absolute;
            width: 100%;
            height: 18px;
            display: block;
        }
        
        .header__qr-imgqr {
            width: 100%;
            ;
        }
        
        .header__qr-apps {
            justify-content: space-around;
            display: flex;
            padding-bottom: 10px;
            margin-left: 1px;
        }
        
        .header__qr-download {
            height: 16px;
        }
        
        .header__qr-link:nth-child(1) {
            /* trỏ đến phần tử class đầu tiên */
            margin-left: 10px;
        }
        
        .header__navbar-item-show-qr:hover .header__qr {
            display: block;
        }
        /* Header notification */
        
        .header__notify {
            position: absolute;
            top: 100%;
            width: 450px;
            background-color: var(--white-color);
            right: 0;
            margin-top: 0.82rem;
            border: 1px solid #d3d3d3;
            animation: headerNotifyGrowth ease-in 0.12s;
            /*apply keyframe vào đây */
            transform-origin: calc(100% - 20px) top;
            /* điểm xuất hiện của animation notify */
            will-change: opacity, transform;
            display: none;
            z-index: 1;
        }
        
        .header__notify::before {
            /* tạo thêm một đường để khi nhấnvào thông báo vẫn hiện description*/
            content: "";
            position: absolute;
            width: 100%;
            height: 44px;
            display: block;
            top: -4%;
            cursor: default;
        }
        
        .header__notify::after {
            /* tạo mũi tên dưới thông báo */
            content: "";
            position: absolute;
            border-width: 20px 27px;
            border-style: solid;
            border-color: transparent transparent var(--white-color) transparent;
            right: 4px;
            top: -30px;
        }
        
        .header__notify-header {
            height: 40px;
            background-color: var(--white-color);
            cursor: default;
            align-items: center;
            display: flex;
        }
        
        .header__notify-header h3 {
            color: #7d8c9b;
            font-size: 1.4rem;
            font-weight: bolder;
            line-height: 20px;
            margin: 0 5px 0 15px;
        }
        
        .header__notify-list {
            text-align: center;
            padding-left: 0px;
        }
        
        .header__notify-item {
            display: flex;
        }
        
        .header__notify-item:hover {
            background-color: #f8f8f8;
        }
        
        .header__notify-item--viewed {
            background-color: rgba(238, 75, 43, 0.05);
        }
        
        .header__notify-link {
            display: flex;
            padding-left: 12px;
            text-decoration: none;
            padding-bottom: 15px;
        }
        
        .header__notify-img {
            width: 50px;
            object-fit: contain;
        }
        
        .header__notify-info {
            text-align: left;
            margin-left: 1.4rem;
        }
        
        .header__notify-name {
            display: block;
            font-size: 14px;
            color: var(--text-color);
            font-weight: 400;
            line-height: 1.8rem;
        }
        
        .header__notify-name-bold {
            display: block;
            font-size: 1.23rem;
            color: #756f6e;
            margin-top: 3px;
        }
        
        .header-notify-item-all {
            display: flex;
        }
        
        .header-notify-item-all-last {
            text-decoration: none;
            color: var(--black-color);
            font-weight: 400;
            font-size: 1.4rem;
            padding: 18px 0;
            margin: auto;
            text-align: center;
        }
        
        .header__navbar-list-show-notify:hover .header__notify {
            display: block;
        }
        /* Authen Modal */
        
        .auth-form {
            width: 500px;
        }
        
        .auth-form__container {
            padding: 0 32px;
        }
        
        .auth-form__header {
            display: flex;
            align-items: center;
            /*dang ky dang nhap thang hang */
            justify-content: space-between;
            /* cach xa nhau */
            padding: 0 12px;
            margin-top: 10px;
        }
        
        .auth-form__heading {
            font-size: 2.2rem;
            font-weight: 400;
        }
        
        .auth-form__switch-btn {
            font-size: 1.8rem;
            font-weight: 410;
            cursor: pointer;
            color: #ee4d2d;
        }
        
        .auth-form__input {
            width: 100%;
            height: 40px;
            margin-top: 16px;
            font-size: 1.4rem;
            padding: 0 12px;
            border: 1px solid var(--border-color);
            border-radius: 2px;
            outline: none;
            /* de mac dinh thi` khi bam se xuat hien duong vien bao quanh, day la ta da bo di */
        }
        
        .auth-form__input:focus {
            /* dau nhay chuot khi bam vao o */
            border-color: #777;
        }
        
        .auth-form__aside {
            margin: 16px 0 0 13px;
            display: flex;
        }
        
        .auth-form__policy-text {
            margin-top: 7px;
            font-size: 1.25rem;
            text-align: center;
            line-height: 1.8rem;
        }
        
        .auth-form__pilicy-link {
            text-decoration: none;
            color: #ee4d2d;
            font-weight: 500;
        }
        
        .auth-form__control {
            display: flex;
            margin: 70px 0 20px 0;
            justify-content: flex-end;
            /* day dang ky, tro lai sang han ben phai */
        }
        
        .btn.btn--singn-up {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        
        .btn__back {
            margin-right: 12px;
            background-color: var(--white-color);
            margin-right: 13px;
        }
        
        .auth-form__socials {
            background-color: #f5f5f5;
            padding: 12px 36px;
            display: flex;
            justify-content: space-between;
        }
        
        .btn.btn--size-s {
            height: 36px;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: var(--white-color);
            width: 45%;
        }
        
        .auth-form__socials--icon {
            font-size: 1.8rem;
            margin-right: 12px;
        }
        
        .auth-form__socials--fb.auth-form__socials--gg {
            color: var(--white-color);
        }
        
        .auth-form__socials--fb {
            background-color: #3a5a98;
            margin-left: 1px;
        }
        
        .auth-form__socials--gg {
            background-color: var(--white-color);
            color: var(--black-color);
            text-align: center;
        }
        
        .auth-form__socials--gg-single {
            color: #333;
            font-weight: 400;
            margin-left: 10px;
        }
        
        .auth-form__google-png {
            width: 30px;
            height: 23px;
        }
        /* sign up */
        
        .auth-form__help {
            display: flex;
            justify-content: flex-end;
            font-size: 1.4rem;
            margin-left: 212px;
        }
        
        .auth-form__help-stand {
            display: block;
            height: 22px;
            border-left: 1px solid var(--border-color);
            margin: -2px 16px 0px 16px;
        }
        
        .auth-form__help-link-forgot {
            text-decoration: none;
            color: #dd3333;
        }
        
        .auth-form__help-link-help {
            text-decoration: none;
            color: #939393;
        }
        /* header with search */
        
        .mobile-category-search {
            display: flex;
            margin-left: 10px;
        }
        
        .mobile-search-checkbox {
            display: none;
        }
        
        .mobile-category-icon {
            color: var(--white-color);
            font-size: 2rem;
            display: none;
        }
        
        .header-with-search {
            height: var(--header-with-search-height);
            display: flex;
            align-items: center;
        }
        
        .mobile-search-checkbox {
            margin-left: 20px;
        }
        
        .mobile-search-icon {
            color: var(--white-color);
            font-size: 2rem;
        }
        /* category -mobile */
        
        .category-mobile {
            position: fixed;
            top: var(--header-height);
            left: 0;
            bottom: 0;
            width: 283px;
            max-width: 100%;
            background-color: var(--white-color);
            z-index: 3;
            transform: translateX(-100%);
            opacity: 0;
            transition: transform linear 0.25s, opacity linear 0.2s;
        }
        
        .category-list-mobile {
            padding: 0;
        }
        
        .category-item-mobile {
            list-style: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }
        
        .category-item-mobile__active.category-item-mobile-link {
            color: var(--primary-color);
        }
        
        .category-item-mobile-link {
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--text-color);
            margin: 17px 0;
            display: block;
            padding-left: 15px;
        }
        
        .overlay-mobile {
            position: fixed;
            top: var(--header-height);
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.08);
            display: none;
            z-index: 3;
        }
        
        .category-mobile-input {
            display: none;
        }
        
        .category-mobile-input:checked~.overlay-mobile {
            display: block;
        }
        
        .category-mobile-input:checked~.category-mobile {
            transform: translateX(0%);
            opacity: 1;
        }
        
        @keyframes category-mobile {
            from {
                left: 0;
                opacity: 0;
            }
            to {
                left: 100%;
                opacity: 1;
            }
        }
        
        .mobile-category-input {
            display: none;
        }
        
        .header__logo {
            width: 200px;
            margin-bottom: 10px;
        }
        
        .header__logo-link {
            display: block;
            line-height: 0;
        }
        
        .header__logo-img {
            cursor: pointer;
            width: 150px;
        }
        
        .header__search {
            height: 40px;
            background-color: var(--white-color);
            flex: 1;
            /* chiem het chieu ngang */
            border-radius: 2px;
            display: flex;
            align-items: center;
        }
        /* Cart layout */
        
        .header__search-input.header__search-input-mobile {
            display: none;
        }
        
        .header__cart {
            width: 81px;
            text-align: right;
        }
        
        .header__cart_wrap {
            position: relative;
            display: inline-block;
            /* tang them kich thuoc khi tro vao gio hang */
            cursor: pointer;
            padding: 0 8px;
        }
        
        .header__cart_wrap::after {
            content: "";
            position: absolute;
            width: 83%;
            height: 20px;
            right: 4px;
            top: 20px;
            cursor: pointer;
        }
        
        .header__cart_wrap:hover .header__cart-list {
            display: block;
        }
        
        .header__cart_quantum {
            position: absolute;
            width: 54%;
            height: 71%;
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--primary-color);
            background-color: var(--white-color);
            border-radius: 12px;
            border: 2px solid var(--primary-color);
            display: inline-block;
            right: -3px;
            top: -8px;
            justify-content: center;
            text-align: center;
        }
        
        .header__cart-icon {
            font-size: 2.2rem;
            color: var(--white-color);
        }
        
        .header__cart-list {
            position: absolute;
            top: calc(100% + 7px);
            right: 5px;
            width: 390px;
            cursor: default;
            box-shadow: 0.5px 1px 2px #cec9c9;
            border-radius: 2px;
            background-color: var(--white-color);
            display: none;
            animation: headerNotifyGrowth ease-in 0.13s;
            z-index: 1;
        }
        
        .header__cart-list--no-cart .header__cart-list--no-cart-img {
            display: block;
        }
        
        .header__cart_wrap:hover .header__cart-list {
            display: block;
        }
        
        .header__cart-list::after {
            content: "";
            position: absolute;
            border-width: 20px 24px;
            border-style: solid;
            border-color: transparent transparent var(--white-color) transparent;
            top: -27px;
            right: -1px;
            cursor: pointer;
        }
        
        .header__cart-list--no-cart-img {
            width: 82%;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }
        /* has carts */
        
        .header__cart-heading {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            color: rgb(175, 166, 166);
            cursor: text;
            margin: 11px 15px 15px 14px;
        }
        
        .header__cart-list-wrap {
            align-items: stretch;
            padding: 0;
            margin: 0;
            max-height: 320px;
            overflow: hidden;
        }
        
        .header__cart-list-wrap-item {
            position: relative;
            width: 100%;
            height: calc(100% + 10px);
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
            padding: 5px 4px;
        }
        
        .header__cart-list-wrap-item:hover {
            background-color: #fafafa;
        }
        
        .header__cart-item-img {
            text-align: left;
            text-align: left;
            width: 42px;
            height: 42px;
            margin: 0 9px 0px 7px;
            border: 1px solid rgb(170, 168, 168);
        }
        
        .header__cart-item-info {
            margin-right: 3px;
            width: 100%;
        }
        
        .header__cart-item-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header__cart-item-delete {
            display: none;
        }
        
        .header__cart-item-head-name {
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: var(--text-color);
            font-weight: 400;
            margin: 0 0 0 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            flex: 1;
            text-align: left;
        }
        
        .header-cart-item-head-price {
            font-size: 1.4rem;
            color: var(--primary-color);
            margin-right: 8px;
        }
        
        .header__cart-item-body {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
        }
        
        .header__cart-item-body-type {
            font-size: 1.2rem;
            color: rgb(133, 130, 130);
            font-weight: 300;
            margin: 8px 0 0 5px;
        }
        
        .header__cart-item-body-remove {
            font-size: 1.4rem;
            color: var(--text-color);
            font-weight: 400;
            margin: 8px 8px 0 0;
            cursor: pointer;
        }
        
        .header__cart-item-body-remove:hover {
            color: var(--primary-color);
        }
        
        .header__cart-list-footer {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 10px 13px 10px;
        }
        
        .header__cart-list-footer-add-cart {
            font-size: 1.1rem;
            color: var(--text-color);
            cursor: text;
        }
        
        .header__cart-list-footer-viewcart {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        
        .header__cart-list-footer-viewcart:hover {
            background-color: #fb6445;
        }
        
        .header__width-search-mobile {
            display: none;
            font-size: 1.5rem;
        }
        /* search */
        
        .header__search-checkbox:checked~.header__search {
            display: flex;
        }
        
        .header__search-input {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-size: 1.4rem;
            margin-left: 16px;
            border-radius: 2px;
            position: relative;
        }
        
        .header__search-select {
            height: 32px;
            padding-left: 12px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-left: 1px solid #ccc;
        }
        
        .header__search-select:hover .header__search-options {
            z-index: 1;
            display: block;
        }
        
        .header__search-select-lable {
            font-size: 1.4rem;
            color: var(--text-color);
            margin-left: 10px;
        }
        
        .header__seatch-select-icon {
            margin: 0 16px 0 8px;
            color: rgb(209, 198, 198);
        }
        
        .header__search-btn {
            height: 34px;
            width: 58px;
            border: none;
            background-color: var(--primary-color);
            margin-right: 3px;
            border-radius: 2px;
            outline: none;
        }
        
        .header__search-btn:hover {
            background-color: #fb6445;
            cursor: pointer;
        }
        
        .header-search-btn-icon {
            font-size: 1.3rem;
            color: var(--white-color);
        }
        
        .header__search-options {
            width: 130px;
            position: absolute;
            background-color: var(--white-color);
            list-style: none;
            right: 0px;
            top: calc(100% - 2px);
            text-align: right;
            padding-left: 0;
            cursor: pointer;
            display: none;
            box-shadow: 0 1px 2px #e0e0e0;
            border-radius: 2px;
            animation: headerNotifyGrowth ease-in 0.13s;
        }
        
        .header__search-options::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 17px;
            top: -17px;
        }
        
        .header__search-options-item:first-child:hover {
            background-color: #fafafa;
        }
        
        .header__search-options-item:last-child:hover {
            background-color: #fafafa;
        }
        
        .header__search-options-item {
            background-color: var(--white-color);
            padding: 7px;
            border-radius: 2px;
        }
        
        .header__search-options-item-text {
            font-size: 1.4rem;
        }
        
        .header__search-options-icon {
            color: var(--primary-color);
            font-size: 0.7rem;
            margin: 10px 8px 10px 10px;
        }
        
        .header__search-options-icon-active {
            /* khi nao active thi se hien dau tich */
            visibility: hidden;
        }
        
        .header__search-input-wrap {
            flex: 1;
            height: 100%;
            position: relative;
        }
        /* search history */
        
        .header__search-history {
            height: auto;
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            width: calc(100% - 16px);
            background-color: var(--white-color);
            border-radius: 2px;
            box-shadow: 0 1px 5px rgb(189, 189, 189);
            display: none;
            z-index: 1;
        }
        
        .header__search-history-heaeding {
            font-size: 1.6rem;
            font-weight: 400;
            color: #ccc;
            margin: 15px 0 0 14px;
        }
        
        .header__search-history-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }
        
        .header__search-history-item:last-child {
            height: 33px;
        }
        
        .header__search-history-item {
            margin: 8px 0 0px 0;
            height: 39px;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
        }
        
        .header__search-history-item a {
            padding-left: 14px;
            text-decoration: none;
            color: var(--text-color);
            display: block;
        }
        
        .header__search-history-item2 a {
            padding-bottom: 5px;
        }
        
        .header__search-history-item:hover {
            background-color: #fafafa;
            ;
        }
        
        .header__search-input:focus~.header__search-history {
            display: block;
        }
        /* sort bar mobile + tablet */
        
        .header__sort-bar {
            position: fixed;
            top: var(--header-height);
            left: 0;
            right: 0;
            height: var(--header-sort-bar-height);
            background-color: var(--white-color);
            margin: 0;
            padding: 0;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            display: none;
        }
        
        .header__sort-item {
            list-style: none;
            flex: 1;
        }
        
        .header__sort-item-active .header__sort-item-link {
            color: var(--primary-color);
        }
        
        .header__sort-item-link {
            display: block;
            text-decoration: none;
            font-size: 1.4rem;
            color: var(--text-color);
            line-height: var(--header-sort-bar-height);
            text-align: center;
            position: relative;
        }
        
        .header__sort-item-link:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            height: 60%;
            border-right: 1px solid #d3d3d3;
            transform: translateY(-50%);
        }
        
        .header__sort-item:last-child .header__sort-item-link:after {
            border: none;
        }
        /* Container */
        
        .app__container {
            background-color: #f5f5f5;
        }
        
        .app__content {
            padding-top: 50px;
        }
        /* Category */
        
        .category {
            display: block;
            background-color: var(--white-color);
            box-shadow: 0 1px 1px rgb(189, 189, 189);
        }
        
        .category__logo {
            position: relative;
            right: 0;
            left: 0;
            height: 174px;
            background-color: #9e9696;
            border-radius: 3px;
        }
        
        .category__logo-img {
            position: absolute;
            width: 72%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        
        .category__heading {
            font-size: 1.7rem;
            font-weight: 400;
            padding: 15px 0 16px 11px;
            border-bottom: 1px solid #ccc;
            margin: 0;
            text-transform: uppercase;
            /* doi kieu chu thanh chu in  */
            cursor: text;
        }
        
        .category__heading-icon {
            position: relative;
            top: -1px;
            font-size: 1.3rem;
            margin-right: 3px;
            margin-bottom: 2px;
        }
        
        .category-list {
            margin: 0;
            font-size: 1.4rem;
            padding: 0 0 0 18px;
            display: contents;
        }
        
        .category-item {
            width: 100%;
            border-bottom: 1px solid rgba(71, 68, 68, 0.1);
            list-style: none;
        }
        
        .category-item__active .category-item-link {
            color: var(--primary-color);
            font-weight: 500;
        }
        
        .category-item-link::after {
            content: "";
            position: absolute;
            border-width: 4px 6px;
            border-style: solid;
            border-color: transparent transparent transparent var(--primary-color);
            display: flex;
            top: 40%;
            left: 12px;
        }
        
        .category-item-link {
            position: relative;
            font-size: 1.4rem;
            display: block;
            padding: 15px 0 15px 25px;
            color: var(--text-color);
            text-decoration: none;
            transition: right linear 0.1s;
            right: 0;
        }
        
        .category-item-link:hover {
            right: -4px;
            color: #41547e;
        }
        /* Home filter */
        
        .home-filter {
            display: flex;
            background-color: #ededed;
            align-items: center;
            padding: 12px 20px;
            border-radius: 2px;
            font-size: 1.4rem;
            color: var(---white-color);
        }
        
        .home-filter__lable {
            margin-right: 15px;
        }
        
        .home-filte-btn {
            min-width: 90px;
            margin-right: 12px;
        }
        
        .home-filter__active {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        
        .home-filter__page-number {
            display: flex;
            align-items: center;
            margin-right: 22px;
        }
        
        .home-filter__page {
            align-items: center;
            display: flex;
            margin-left: auto;
        }
        
        .home-filter__page-active {
            color: var(--primary-color);
        }
        
        .home-filter__page-control {
            width: 74px;
            height: 32px;
            background-color: var(--white-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 1px 2px #e0e0e0;
        }
        
        .home-filter__page-btn {
            margin: 0;
            width: 50%;
            height: 100%;
            background-color: var(--white-color);
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
        }
        
        .home-filter__page-control-disabled {
            border-right: 1px solid #ccc;
            ;
            background-color: #f9f9f9
        }
        
        .home-filter__page-control:first-child {
            border-right: 1px solid red;
        }
        
        .home-filter__page-control-icon {
            justify-content: space-between;
        }
        
        .home-filter__page-control-icon {
            font-size: 1.3rem;
            color: #cccccc;
            margin-left: 10px;
        }
        
        .home-filter__page-control-right {
            margin-left: 13px;
            font-size: 1.3rem;
        }
        /* product item */
        
        .home-product {
            margin-top: 10px;
        }
        
        .home-product-item {
            position: relative;
            background-color: var(--white-color);
            margin-top: 10px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            transition: transform linear 0.1s;
            will-change: transfrom;
            display: block;
            text-decoration: none;
        }
        
        .home-product-item:hover {
            transform: translateY(-1px);
            box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.05);
        }
        
        .home-product-item__img {
            padding-top: 100%;
            background-repeat: no-repeat;
            /* */
            background-size: contain;
            /*khi anh dai qua se thu gon trong tam + full width */
            background-position: center;
            /* luon zoom trong tam buc anh */
        }
        
        .home-product-item__name {
            line-height: 1.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--text-color);
            margin: 10px;
            height: 36px;
            overflow: hidden;
            /* khi đồi tượng con chòi ra khỏi đối tượng cha sẽ ẩn đi */
            display: block;
            /* khi trinh duyet k ho tro webkit box thi se su dung the nay */
            display: -webkit-box;
            /* tao dam 3 cham */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        
        .home-product-item__price {
            display: flex;
            margin-left: 10px;
        }
        
        .home-product-item__price-old {
            font-size: 1.4rem;
            color: #666;
            text-decoration: line-through;
            white-space: nowrap;
        }
        
        .home-product-item-price-vnd {
            font-size: 1rem;
            position: relative;
            top: -3px;
        }
        
        .home-product-item__price-current {
            font-size: 1.4rem;
            color: var(--primary-color);
            margin-left: 5px;
        }
        
        .home-product-item__action {
            margin: 12px 6px 8px 10px;
            display: flex;
            justify-content: space-between;
        }
        
        .home-product-item__action-heart {
            font-size: 1.3rem;
        }
        
        .home-product-item__action-liked .home-product-item__action-heart-bold {
            color: #f53d2f;
            display: none;
        }
        
        .home-product-item__action-liked .home-product-item__action-heart-empty {
            display: inline-block;
        }
        
        .home-product-item__action-rating {
            transform: scale(0.7);
            transform-origin: right;
            color: #ffce3d;
            margin: 1px 0 0 auto;
        }
        
        .home-product-item__action-rating-empty {
            color: rgb(204, 189, 189);
        }
        
        .home-product-item__action-quantity-sold {
            font-size: 1.2rem;
            color: var(--text-color);
            margin-left: 6px;
        }
        
        .home-product-item__origin {
            display: flex;
            justify-content: space-between;
            margin: 2px 6px 8px 10px;
            font-size: 1.2rem;
            font-weight: 300;
            padding-bottom: 7px;
        }
        
        .home-product-item__favourite {
            position: absolute;
            top: 10px;
            left: -4px;
            background-color: currentColor;
            /*background-color mac dinh cho thuoc tinh */
            color: var(--primary-color);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        
        .home-product-item__favourite::before {
            content: "";
            position: absolute;
            border-top: 3px solid currentColor;
            border-left: 3px solid transparent;
            left: 0;
            bottom: -3px;
            filter: brightness(60%);
        }
        
        .home-product-item__favourite-text {
            font-size: 1.2rem;
            color: var(--white-color);
            line-height: 1.3rem;
            line-height: 1.8rem;
            padding: 0 4px;
        }
        
        .home-product-item__sale-off {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 40px;
            height: 36px;
            background-color: rgba(255, 216, 57, 0.95);
            align-items: center;
            margin-left: auto;
            text-align: center;
        }
        
        .home-product-item__sale-off::after {
            content: "";
            position: absolute;
            border-width: 0px 20px 6px;
            border-style: solid;
            border-color: transparent rgba(255, 216, 57, 0.95) transparent rgba(255, 216, 57, 0.95);
            bottom: -6px;
            right: 0;
        }
        
        .home-product-item__sale-off-percent {
            font-size: 1.3rem;
            color: var(--primary-color);
            font-weight: 500;
            line-height: 2rem;
        }
        
        .home-product-item__sale-off-disabled {
            display: none;
        }
        
        .home-product-item__sale-off-lable {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--white-color);
        }
        
        .home-product-pagination {
            margin: 58px 0 50px 0;
        }
        /* footer */
        
        .footer {
            border-top: 4px solid var(--primary-color);
            background-color: #fbfbfb;
        }
        
        .footer__heading {
            font-size: 1.4rem;
            color: rgb(94, 85, 85);
            margin-bottom: 35px;
        }
        
        .footer__list {
            padding: 0 0 25px 0;
            margin: 0;
        }
        
        .footer__list-item {
            list-style: none;
        }
        
        .footer__list-item-link {
            display: block;
            font-size: 1.2rem;
            color: rgb(126, 113, 113);
            text-decoration: none;
            padding: 8px 0;
            width: max-content;
        }
        
        .footer__list-item-link:hover {
            color: var(--primary-color);
        }
        
        .footer__list-item-link:hover .footer__list-item-link-icon {
            color: var(--black-color);
        }
        
        .footer__list-item-link-icon {
            font-size: 1.4rem;
            padding: 0 5px 0 2px;
            color: var(--black-color);
        }
        
        .footer__down {
            display: flex;
        }
        
        .footer__bottom {
            background-color: #f5f5f5;
        }
        
        .footer__down-qr {
            background-color: var(--white-color);
        }
        
        .footer__down-qr-img {
            height: 80px;
            width: 80px;
            border: 1px solid var(--border-color);
            padding: 5px;
        }
        
        .footer__down-link {
            display: block;
        }
        
        .footer__down-app {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 10px;
        }
        
        .footer__bottom-row {
            justify-content: center;
            padding-top: 40px;
        }
        
        .footer__policy-list {
            display: flex;
            margin-bottom: 54px;
        }
        
        .footer__policy-list-link {
            display: block;
            text-decoration: none;
            font-size: 1.2rem;
            color: rgb(126, 113, 113);
            padding: 0 26px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        .footer__policy-list-link:last-child {
            border: none;
        }
        
        .footer__address {
            display: block;
            text-align: center;
            font-size: 1.7rem;
            color: rgb(116, 100, 100);
            margin-bottom: 65px;
        }
        
        .footer__address-text {
            margin: 13px 0;
        }